* {
  box-sizing: border-box;
}

div {
  line-height: 1.6;
  margin: 0;
}


h1 {
  margin: 0;
  font-size: 1.45em;
}

.main-nav {
  margin-top: 5px;
}

.nav-container {
  padding: 10px 15px;
  text-align: center;
}

.product-type {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

@media (max-width: 500px) {
  .product-type {
    display: flex;
    flex-direction: column
  }
}


@media (min-width: 769px) {

  .nav-container,
  .main-nav {
    display: flex;
  }

  .nav-container {
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    max-width: 1150px;

  }
}

@media (min-width: 1025px) {
  .nav-container {
    flex-direction: column;
    justify-content: space-between;
  }
}