* {
	box-sizing: border-box;
}
.main-nav {
	margin: 40px;
}
.nav-container div {
	line-height: 1.6;
	color: whitesmoke;
	font-weight: 900;
}

.title-wrapper {
	text-align: center;
	width: 400px;
}

.title-link {
	position: relative;
	/* left: 50px; */
	/* don't need to offset title anymore when we added new icon 
	and made search input width the same as both icons */
}

.nav-container h1 {
	margin: 0;
	font-size: 1.45em;
	color: whitesmoke;
	text-align: center;
}
.nav-container img {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	transition: transform 0.2s;
	background-image: linear-gradient(rgba(222, 166, 175, 0.85), rgba(128, 42, 12, 0.55));
}

.nav-container img:hover {
	transform: scale(1.5);
}
/* .main-nav {
	margin-top: 5px;
	top: 10px;
	position: relative;
} */

.nav-container {
	/* padding: 10px 15px; */
	height: 300px;
	margin-bottom: 40px;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: linear-gradient(rgb(154, 77, 85, 0.75), rgba(128, 42, 12, 0.85)),
		url('./images/makeup2.jpg');
}

.shopping-love {
	width: 150px;
	display: flex;
	justify-content: space-between;
}

.product-type {
	display: grid;
	/* grid-template-columns: auto auto auto auto; */
	grid-gap: 10px;
	padding: 10px;
	grid-template-columns: repeat(8, 1fr);
	margin: auto;
}

.title-form {
	display: flex;
	justify-content: space-around;
	margin: auto;
	align-items: center;
}
input {
	/* width: 100%; */
	width: 150px;
	transition: transform 250ms ease-in-out;
	font-size: 14px;
	line-height: 18px;
	color: black;
	background-color: whitesmoke;
	/* background-color: #f7cac9; */
	/* background-color: linear-gradient(rgba(128, 42, 12, 3.75), rgb(247, 202, 201)); */
}

/* input:hover,
input:focus {
	padding: 12px 0;
	outline: 0;
	border: 1px solid transparent;
	border-bottom: 2px solid black;
	border-radius: 0;
	background-position: 100% center;
} */
/* @media (max-width: 400px) {
	.nav-container h1 {
		margin-top: 0px;
	}
	.product-type {
		display: flex;
		flex-direction: column;
	}
} */

/* @media (min-width: 501px) {
	.nav-container h1 {
		margin-top: 100px;
	}
} */

@media (max-width: 400px) {
	.product-type {
		/* display: grid;
		grid-template-columns: auto auto auto auto; */
		grid-template-columns: repeat(4, 1fr);
		margin: auto;
	}
	.nav-container {
		margin-bottom: 20px;
		height: 200px;
	}
	.nav-container h1 {
		margin-top: 0px;
	}
	.main-nav {
		margin: 0px;
		font-size: 14px;
	}

	input {
		width: 100%;
	}
}

@media (max-width: 700px) {
	.product-type {
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-gap: 10px;
		/* padding: 10px; */
		/* grid-template-columns: repeat(4, 1fr);
		margin: auto; */
	}
	.nav-container img {
		height: 30px;
		width: 30px;
	}
	.nav-container h1 {
		margin-top: 0px;
	}
	/* input {
		width: 100px;
	} */
}

@media (min-width: 701px) {
	.header {
		top: 10px;
		position: absolute;
		/* display: flex; */
		justify-content: space-between;
		width: 100%;
	}

	.nav-container h1 {
		/* margin-top: 100px; */
		font-size: 3em;
	}
	.nav-container,
	.main-nav {
		display: flex;
	}

	.nav-container {
		/* flex-direction: column; */
		align-items: center;
		margin: 0 auto;
		margin-bottom: 40px;
	}
}

@media (min-width: 1025px) {
	.nav-container {
		/* flex-direction: column; */
		justify-content: space-between;
	}
}
